<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wahyu.rental">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PilihPelanggan"></activity>
        <activity android:name=".PilihSepeda" />
        <activity android:name=".ListSewaActivity" />
        <activity android:name=".ListPelangganActivity" />
        <activity android:name=".tambah_pelanggan" />
        <activity android:name=".about_us" />
        <activity android:name=".tambah_sepeda" />
        <activity android:name=".main_menu" />
        <activity android:name=".ListSepedaActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>